.footer-div{
    text-align: center;
    width: 100%;
    padding: 1rem;
    color: #888;
}
.police-logo {
    width: 14px;
    height: 14px;
    background: url(/blog/static/img/20190410102033956.png) no-repeat;
    background-size: cover;
    display: inline-block;
    margin-right: 2px;
    vertical-align: -2px;
}
a{
    color: #888;
}